body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin: 0em
}

h1 {
    font-weight: bold;
    font-size: 4em;
    margin-top: 2em;
    margin-bottom: 0em
}

h2 {
    font-weight: 550em;
    font-size: 1.5em;
    margin: 0em
}

.topper {
    text-align: center
}
